a {
    color: #2b1a09;
    text-decoration: none;
}

.summary {
    color: #808080;
    border-left: 5px solid #f69023;
    font-size:16px;
}


h3 {
    color: #f69023; 
    border-bottom: 1px dashed #f69023;
    padding-bottom: 10px; 
}
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: #f69023!important;
    color: white;
}

.nav > li > a:hover {
    background-color: #f69023;
    color: white;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #f8ac59;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
    font-weight: 800;
    border-radius: 5px 5px 0 0;
}

.navbar-inverse .navbar-nav>li>a:hover{
     border-bottom: 1px solid white;
}
@media (min-width: 1000px){
    .navbar-inverse .navbar-nav>li>a:hover{
        border-bottom: none;
   }
}
@media (max-width: 1000px){
    .githubEditButton{
        top: 0px;
        right: 15px;
    }
}

.nav li.thirdlevel > a {
    background-color: rgba(250, 250, 250, 0.842) !important;
    color: #f8ac59;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #f8ac59;
    border-color: #f69023;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #5b893c;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #5b893c;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #f8ac59 !important;
}

.btn-primary {
    color: #FF7F04;
    background-color: #FFFFFF;
    border-color: #FF7F04;
    font-weight: 800;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #f8ac59;
    border-color: #FF7F04;
}

.printTitle {
    color: #5b893c !important;
}

body.print h1 {color: #5b893c !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #f69023 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}

.anchorjs-link:hover {
    color: #FF7F04;
}

div.sidebarTitle {
    color: #f69023;
}

li.sidebarTitle {
    margin-top:5px;
    font-weight:normal;
    font-size:144%;
    color: #676a6c;
    margin-bottom:10px;
    margin-left: 5px;
}
.navbar-inverse .navbar-toggle{
    border-color: white;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: white;
}
.tab-conversation.active>a {
    color: #2a2e2e!important;
}

.tab-conversation.active>a {
    color: #2a2e2e!important;
}

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
.unread .notification-container:hover .notification-icon {
    color: #f69023;
}
.dropdown-menu .active>a, .dropdown-menu .active>a:hover, .dropdown-menu li>a:hover {
    background-color: #f69023;
}
.githubEditButton{
    position: absolute;
    top: 25px;
    right: 5px;
    padding: 10px 30px;
    border-radius: 60px;
}
#toc ul {
    border-radius: 0!important;
    border: 1px dashed lightgrey;
    list-style: circle;
    padding: 21px;
}
#toc ul li{
}
#toc ul li ul, #toc_side ul li ul{
    border: none;
}
@media (min-width: 1000px){
    ul#mysidebar {
        width: 220px;
    }
}
div#toc >ul::before {
    content: none!important;
}
.navbar-inverse .navbar-toggle {
    border:none;
    border-width: 3px;
    background: white;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #f69023;
}

/*======================jenny test css====================*/
@media (min-width: 1400px) {
    .container{
        width: 1400px
    }

    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9 {
        float: left
    }

    .col-xl-12 {
        width: 100%
    }
    .col-xl-11 {
        width: 91.66666667%
    }
    .col-xl-10 {
        width: 83.33333333%
    }
    .col-xl-9 {
        width: 75%
    }
    .col-xl-8 {
        width: 66.66666667%
    }
    .col-xl-7 {
        width: 58.33333333%
    }
    .col-xl-6 {
        width: 50%
    }
    .col-xl-5 {
        width: 41.66666667%
    }
    .col-xl-4 {
        width: 33.33333333%
    }
    .col-xl-3 {
        width: 25%
    }
    .col-xl-2 {
        width: 16.66666667%
    }
    .col-xl-1 {
        width: 8.33333333%
    }   
    
    .side-toc {
        display:block
    }

    #toc_side {
        position:fixed;
        margin: 0px 10px
    }

    div#toc_side ul li{
        margin: 15px 0px 8px 20px;
        font-size: 90%;
        list-style: circle;
    }

    div#toc_side >ul::before {
        content: "Table of Contents";
        font-weight: 700;
        color: #f69023;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 2px;
        border-bottom: 2px solid #f69023;
    }

    div#toc_side ul {
        background-color: white;
        padding: 5px;
        max-width: 250px;
        color: gray;

    }

    div#toc_side ul {
        border: 6px solid whitesmoke;
        list-style: circle;
        padding: 10px;
    }

    #toc_side ul li ul li {
        margin: 0px 0px 8px 10px;
    }

    .center-toc{
        display:none
    }
}

@media (max-width: 1399px){
    .side-toc {
        display:none
    }    
    .center-toc{
        display:block
    }
}

@media (min-width: 991px) {
    #mysidebar {
        position: fixed
    }
}
