/*단비스타일은 여기서 지정함*/

body, html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    word-break:keep-all;
    word-wrap:break-word;
    text-size-adjust: 100%;
}

*, body, html, input, textarea, select, button {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,open sans,Helvetica,Arial,"Roboto", "Noto Sans KR", sans-serif,Apple Color Emoji,Segoe UI Emoji;
    word-break:keep-all;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight:300;
    /* font-size: 100%; */
    font-size:16px;
    vertical-align: baseline;
    /* letter-spacing: -0.7px;
    word-spacing: 0.5px; */
}

.post-content p b, .post-content p strong{
    font-weight:400;
    background:rgba(255, 106, 0, 0.14);
}

h2{margin-top:120px; margin-bottom:8px;}
h3{margin-top:45px;}
h4{margin-top:20px;}

hr{
    margin:60px 0;
    width:100%;
}
pre{
    padding:20px;
}
pre a{
    color:#222;
}

.anchorjs-link{
    position:absolute;
}
.highlight{
    background:#fff;
    border: 1px solid #666;
    padding: 8px 20px;
    line-height: 18px;
    font-size: 14px;
    font-family: Menlo,Monaco,Consolas,"Courier New", dotum, gulim, monospace;
}
.highlight .highlight{
    border:none;
}
a {
    color: #FF7600; /*#2b1a09*/
    /* text-decoration: underline; */
}
a:hover{
    color: #FF7600; /*#2b1a09*/
    text-decoration: underline;
}

.summary {
    color: #53514e;
    border-left: 5px solid #f69023;
    font-size:16px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: #f69023!important;
    color: white;
}

.nav > li > a:hover {
    background-color: #f69023;
    color: white;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #f8ac59;
}

.navbar-inverse .navbar-nav>li>a {
    color: #cbd3d9;
    font-weight: normal;
    border-radius: 5px 5px 0 0;
}

.navbar-brand.logo-graphic{
  padding:10px 0;
}
.navbar-brand.logo-text{
  padding:15px 10px;
}

p{
    line-height:27px;
    margin: 15px 0;
    letter-spacing:0.1px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    line-height:24px;
}
pre code{
    line-height:24px;
}


.button-cta:link, .button-cta:visited{
    font-weight:bold;
    color:#fff;
    background-color:#ff7621;
    display:inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin:4px 2px;
    border-radius : 12px;
}
.button-cta:hover, .button-cta:active {
    background-color:#ff8c44;
}

@media (max-width: 1000px){
    .githubEditButton{
        top: 0px;
        right: 15px;
    }
}

.nav li.thirdlevel > a {
    background-color: rgba(250, 250, 250, 0.842) !important;
    color: #f8ac59;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

/*-- header --*/
.navbar-inverse {
    background-color: #1e2c38;
    border-color: #10161c;
    /*background-color: #f8ac59;
    border-color: #f69023;*/
}
.navbar-inverse .container .navbar-brand {
    color: #fff;
    font-weight: bold;
    margin-left:0;
    padding:0;
    margin-top: 3px;
    text-decoration: none;
}
.navbar-inverse .container .navbar-brand .projectTitle{
    
}
.navbar-inverse .navbar-brand>img {
    display: inline-block;
    width: 24px;
    position: relative;
    top: 9px;
}
.navbar-inverse .container .navbar-header button {
    background:none;
    border:none;
    margin-right:0;
}
.navbar-inverse .navbar-nav>.active>a {
    font-weight:bold;
    color:#ffbb00;
    background:none !important;
}
#search-demo-container input#search-input {

    background:#15191c;
    border:1px solid #0d1012;
    color:#cfdbe5;
    border-radius:15px;
    padding:.5em 1.5em;
}
#search-demo-container input#search-input::-webkit-input-placeholder { color: #959ea6; }
#search-demo-container input#search-input:-moz-placeholder { color: #959ea6; }
#search-demo-container input#search-input::-moz-placeholder { color: #959ea6; }
#search-demo-container input#search-input:-ms-input-placeholder { color: #959ea6; }

#search-demo-container ul#results-container {
    width:191px;
    box-shadow:0 3px 8px rgba(0,0,0,.12);
}
#search-demo-container #results-container li a {
    padding:8px 20px;
}
#search-demo-container #results-container li a:hover {
    background:#fde9d3;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #5b893c;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #5b893c;
    color: #ffffff;
}

/*-- lnb --*/
ul#mysidebar {
    border-radius: 0px;
    position: fixed;
    max-width: 270px;
    width:270px;
    min-width: 180px;
    height: calc(100VH - 60px);
    overflow: auto;
    /* 
    border: 2px solid whitesmoke;
    margin-top: 20px;
    */
}
ul#mysidebar .sidebarTitle {
    display:none;
}
ul#mysidebar > li {
    margin:0;
}
ul#mysidebar > li > a {
    background:#fff;
    font-size:14px;
    color:#333;
    padding:12px 20px;
    /*border-bottom:1px solid #f0f0f0;*/
}
ul#mysidebar > li.active > a {
    background:#fff !important;
    box-shadow:inset 4px 0 0 #f69023;
    color:#f69023;
    font-weight:bold;

}
ul#mysidebar > li > ul {
    background: #fafafa;
    font-size:13px;
    border-bottom:1px solid #dbdbdb;
}
ul#mysidebar > li > ul > li{

}
ul#mysidebar > li > ul > li > a {
    padding:10px 20px 10px 25px;
    font-size:14px;
}
ul#mysidebar > li > ul > li.active > a {
    background:none;
    color:#f69023;
    font-weight:bold;
}
ul#mysidebar li.active li.active li a {
    padding:6px 35px;
}
ul#mysidebar > li > ul > li > ul{
    background: #f4f4f4;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 4px 0;
}
/*-- toc side --*/
div#toc_side{
    padding-top:20px;
}
div#toc_side ul a {
    color:#334a60;
    padding-left:0;
    text-decoration:none;
}
div#toc_side ul a:hover{
    text-decoration:underline;
}
div#toc_side > ul {
    /* border: 1px solid #bed5df; */
    /* background: #ebf5fa; */
    /* padding: 14px 10px 14px 16px; */
    max-width: 250px;
}
div#toc_side ul > li {
    margin-left:0;
}
div#toc_side > ul > li {
    margin-bottom:10px;
}
div#toc_side > ul > li > ul > li {
    /* margin-bottom:10px; */
}
div#toc_side > ul > li > a {
    display:inline-block;
    font-size:14px;
}
div#toc_side ul li ul li a {
    font-size:13px;
}
div#toc_side ul li ul li a:before {
    content:" ";
}
div#toc_side .anchorjs-link  {
    display:none;
}
div#toc_side ul li ul,
div#toc_side ul li ul li ul {
    padding-left:10px;
}
div#toc_side ul li ul li ul li a {
    font-size:12px;
}

div#toc_side >ul::before {
    display:block;
    margin-bottom:10px;
    content: "C O N T E N T";
    font-size:13px;
    font-weight: 600;
    color:#333;
}

div#toc_side ul,
div#toc_side ul ul,
div#toc_side ul ul ul {
    list-style:none;
}

/* cta_document */
#cta_document{
    position:fixed;
    bottom:10px;
    width:250px;
    height: 100px;
}
#cta_document a{
    position: relative;
    padding: 10px 20px;
    padding-left:76px;
    color:#fff;
    font-weight: bold;
    display:inline-block;
    text-decoration:none;
    font-size:20px;
    background-color: #ff7621;
    border-radius: 12px;
}
#cta_document #cta_img{
    position: absolute;
    left:10px;
    top:10px;
    width:56px;
    display:inline-block;
}

/*-- content --*/
.post-header{
    padding-top:20px;
}
.post-header h1 {
    font-weight:700;
    font-size: 36px;
}

.post-content h2 {
    font-size: 30px;
    line-height: 1.6;
    font-weight: 400;
    height: auto;
    margin-bottom:45px;
}
.post-content h3 {
    color: #000;
    margin-top: 55px;
    font-size: 21px;
    margin-bottom:20px;
    font-weight: 500;
}
.post-content h4{
    font-size:16px;
    border-left: 4px solid #ccc;
    padding-left: 6px;
    margin-bottom: 8px;
    margin-top:30px;
    margin-left:20px;
}
.post-content h5{
    font-size:16px;
    font-weight:500;
    margin-top: 24px;
}
.post-content .indented{
    margin-left:20px;
}
.post-content .link{
  color:#395168;
  display:inline-block;
}

.post-content p strong em {
    font-style: normal;
}
.post-content p em {
    font-style: normal;
}
.post-content .bs-callout {
    border:none;
    border-left:4px solid #d2d2d2;
    background:#fbfbfb;
    border-radius:0;
}
.post-content figcaption {
    font-size: 14px;
    font-style: normal;
    padding-top: 0;
    font-weight:300;
    margin-bottom: 24px;
}
.post-content .danbee-slider{
    width:300px;
    margin:0 auto;
}
.post-content .danbee-slider img{
    margin:0;
}
.post-content .danbee-slider ul.slides li{
    border:1px solid #ccc;
}
.post-content .danbee-slider .flex-control-paging{
    bottom:0px;
}
.post-content .danbee-slider .flex-control-paging li{
    margin:0 5px;
}
.post-content .alert {
    border-radius:0;
    margin-bottom:40px;
    font-size:16px;
    line-height:24px;
}
.post-content .alert-info {
    background:#ebf5fa;
    border:1px solid #d3edf2;
}
.post-content .alert-danger {
    background:#f7eded;
    border:1px solid #f5e1e4;
}
.post-content figure img {
    max-width: 100%;
    margin:0;
    max-height: 580px;
    display:block;
}
.post-content figure a{
    margin:0;
    height:auto;
    padding:1px;
    display:inline-block;
    border:1px solid #eaeaea;
}
.post-content figure .caption{
    display:none;
}
.post-content figure img.border{
    border:1px solid #ccc;
}
.post-content table{
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
}
.post-content table th{
    background:#e5e6e7;
    font-weight:bold;
    font-size:14px;
}
.post-content table thead tr th,
.post-content table tbody tr td {
    padding:8px 12px;
}

.post-content ol, .post-content ul{
    padding:20px;
}
.post-content ol li, .post-content ul li {
    margin: 0px 0px 12px 20px;
    font-weight:400;
}
.post-content ol li p, .post-content ul li p{
    padding:0;
}
.post-content ol li p:first-child, .post-content ul li p:first-child{
    margin-top:0px;
    margin-bottom:10px;
}

.post-content ul li em{
    font-style: normal;
    display: block;
    margin-top: 3px;
    color: #888;
    font-size: 90%;
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0px;
}

.post-content img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


.post-content .tags {
    margin-bottom:40px;
}
.post-content ul.posts--previous-next {
    list-style:none;
    text-align:right;
    margin-bottom:40px;
    padding-bottom:40px;
    line-height: 46px;
}
.post-content ul.posts--previous-next li {
    display:inline-block;
    margin:0;
    padding:0;
}
.post-content ul.posts--previous-next li h5 {
    display:inline-block;
    margin:0;
    padding:0;
}
.post-content ul.posts--previous-next li h5 a {
    background:#fff;
    border:1px solid #eee;
    padding:6px 12px;
    box-shadow:0 1px 2px rgba(0,0,0,.12);
}
.post-content ul.posts--previous-next li h5 a:hover {
    text-decoration:none;
    background:#fde9d3;
    border-color:#fbd3a7;
}
.post-content ul.posts--previous-next li:first-child a {
    border-radius:16px 5px 5px 16px;
}
.post-content ul.posts--previous-next li:last-child a {
    border-radius:5px 16px 16px 5px;
}
.post-content ul.posts--previous-next li h5 a i {
    color:#f69023;
    margin:0 3px;
}
.post-content ul.posts--previous-next li a.anchorjs-link {
    display:none;

}

.post-content .code-sample{
    padding:10px;
    font-size:14px;
    font-family: Menlo,Monaco,Consolas,"Courier New", dotum, gulim, monospace;
}

/*-- footer --*/
footer {
    font-size:12px;
    color:#999;
}

/*-- 본문목차 --*/
div#toc ul {
    background:none;
    padding: 5px;
    border-radius: 5px;
    color: gray;
}
div#toc ul li {
    font-size:13px;
    margin: 0;
    font-size: 90%;
    list-style: none;
}
div#toc > ul {
    /* border:1px solid #dae6eb;
    background:#f5fafc;
    padding:14px 10px 14px 16px;
    line-height: 24px; */
}

div#toc ul a {
    color:#1b80b2;
}
div#toc > ul > li > a{
  font-weight:bold;
}
div#toc ul a.anchorjs-link  {
    display:none;
}
div#toc ul li ul, div#toc_side ul li ul {
    padding-left:16px;
}
div#toc ul li ul li::before{
    content: "–  ";
    list-style-type: none;
    margin: 5px 0px 0px 0px;
}
div#toc > ul > li> ul > a{
  font-weight:normal;
}

div#toc >ul::before {
    content: "C O N T E N T";
    font-weight: 500;
    color: #555;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:70px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    font-size:13px;
}
/* pricing */
.post-content .pricing table thead tr th{
    background-color:#4d9c81;
    text-align:center;
}


.post-content .pricing table thead th .plan-cate{
    font-size:18px;
    color:#fff;
}
.post-content .pricing table thead th .plan{
    font-size: 20px;
    color:#fff;
}

.post-content .pricing table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.post-content .pricing table tbody th{
    background-color:#768c83;
    color:#fff;
    border-top: 1px solid #637b71;
    border-left: 1px solid #637b71;
    font-weight:normal;
    word-break: keep-all;
    padding:8px 12px;
}

.post-content .pricing table tbody th sup a{
    color:#b1ffbb;
    font-weight:normal;
}
.post-content .pricing table tr th a{
    color: #b1ffbb;
    text-decoration: underline;
    cursor: pointer;
}
.post-content .pricing table tr th a:hover{
    color:#fff;
}
.post-content .pricing table td{
    border-bottom: none;
    border-left:0;
    border-right:1px solid #dee8e5;
    text-align: center;
    word-break: keep-all;
    padding:8px 12px;
    vertical-align: top;
}
.post-content .pricing table td .price{
    font-size:18px;
    font-weight: bold;
    color:#777;
    display:inline-block;
    line-height:30px;
}
.post-content .pricing table td .price .additional_info{
    font-size:16px;
    font-weight:normal;
}
.post-content .pricing table td .alert {
    color:#b55252;
    padding:0;
}

.post-content .pricing table tbody td:last-child, .post-content .pricing table tbody td:nth-child(6){
    background-color:#0043ff08;
}
.post-content .pricing table tbody th span.alert,
.post-content .pricing table tbody td span.alert{
    color:#b55252;
    padding:0;
}

.post-content .pricing table tbody td sup a,
.post-content .pricing sup a{
    color: #04af72;
    font-size: 12px;
}

.post-content .pricing table tbody th.category-title{
    padding-top: 24px;
    font-size: 18px;
    color: #676767;
    font-weight: bold;
    padding-bottom: 0px;
    background-color: #fff;
    border-left: 0;
    border-top:1px solid #bbc7c2;
    border-bottom:1px solid #bbc7c2;
}
.post-content .pricing table tbody th.category-title small{
    font-size: 16px;
    font-weight: normal;
}

.post-content .pricing table tbody th small.beta{
    font-size: 12px;
    position: relative;
    bottom: 5px;
    margin-left: 4px;
}


.post-content #note ul li{
    list-style: none;
}
.btn-call-on strong{
    font-size:18px;
}
.channel_gate{
    display:inline-block;
}
.channel_gate p{
    font-size:14px;
}
/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #f8ac59 !important;
}

.btn-primary {
    color: #FF7F04;
    background-color: #FFFFFF;
    border-color: #FF7F04;
    font-weight: 800;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #f8ac59;
    border-color: #FF7F04;
}

.printTitle {
    color: #5b893c !important;
}

body.print h1 {color: #5b893c !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #f69023 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}

.anchorjs-link:hover {
    color: #FF7F04;
}

div.sidebarTitle {
    color: #f69023;
}

li.sidebarTitle {
    margin-top:5px;
    font-weight:normal;
    font-size:144%;
    color: #676a6c;
    margin-bottom:10px;
    margin-left: 5px;
}
.navbar-inverse .navbar-toggle{
    border-color: white;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: white;
}
.tab-conversation.active>a {
    color: #2a2e2e!important;
}

.tab-conversation.active>a {
    color: #2a2e2e!important;
}

.unread .notification-container:hover .notification-icon {
    color: #f69023;
}
.dropdown-menu .active>a, .dropdown-menu .active>a:hover, .dropdown-menu li>a:hover {
    background-color: #f69023;
}


div#toc >ul::before {
    content: none!important;
}
.navbar-inverse .navbar-toggle {
    border:none;
    border-width: 3px;
    background: white;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #a1aab2;
}

.side-toc{
    position:relative;
}
#toc_side{
    position:fixed;
}

/* 블락콧 blockquote */
.post-content blockquote{
    font-size:1em;
    line-height:1.8em;
    word-break : normal;
    margin:25px;
    /*margin-right:220px;*/
    margin-left:32px;
}

.post-content blockquote.table{
    width:auto;
}
.post-content blockquote.table table{
    width:100%;
}
.post-content blockquote.table-striped table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.post-content blockquote p{
    margin:5px 0 15px;
}

.modal-body{
    padding:15px 30px;
}
.modal-header .close{
    position: absolute;
    top: 40px;
    right: 16px;
}
.modal-body .table{
    font-size:14px;
}
.modal-body .table-bordered>thead>tr>td{
    border-bottom-width:1px;
}

/*======================jenny test css====================*/
@media (min-width: 1400px) {
    .container{
        width: 1400px;
    }
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9 {
        float: left;
    }
    .col-xl-12 {
        width: 100%;
    }
    .col-xl-11 {
        width: 91.66666667%;
    }
    .col-xl-10 {
        width: 83.33333333%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-8 {
        width: 66.66666667%;
    }
    .col-xl-7 {
        width: 58.33333333%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-5 {
        width: 41.66666667%;
    }
    .col-xl-4 {
        width: 33.33333333%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-2 {
        width: 16.66666667%;
    }
    .col-xl-1 {
        width: 8.33333333%;
    }
}

/*콘텐츠 토픽 리스트가 본문영역으로 들어오는 시점 정의*/

@media (min-width: 641px) and (max-width: 1200px){
    .side-toc {
        display:none;
    }
    
    .center-toc{
        display:none;
    }
    ul#mysidebar{
         width:230px;
         max-width:230px;
    }
}
@media (min-width: 1201px){
    .side-toc {
        display:block;
    }
    .center-toc{
        display:none;
    }
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #444;
    }
}

@media (max-width: 991px) {
    ul#mysidebar {
        position: static;
        max-width: 100%;
        height: auto;
        width: auto;
        border-bottom: 8px solid #1e2d38;
    }
    .center-toc{
        display:none;
    }
}


/*-- 스타일 변경 반응형 처리 --*/
@media (max-width: 640px) {
    .container{
        min-width: 320px;
    }
    /*-- header --*/
    .navbar-inverse .navbar-collapse {
        border-color:#596d80 !important;
    }
    .navbar-inverse .navbar-nav > li > a {
        margin:0;
    }
    .navbar-inverse .navbar-nav.navbar-right {
        margin-top:0;
        padding-bottom:20px;
    }
    #search-demo-container input#search-input {
        margin:0;
        width:100%;
    }
    #cta_document{
        display:none;
    }

}
@media (max-width: 768px) {
    .container>.navbar-header {
        margin-left:0;
        margin-right:0;
        width:100%;
    }
    .githubEditButton {
        top:0;
        position:initial;
    }
    .post-content ul {
        padding-left:20px;
    }
}
