
<hr>




## 함께해요! 챗봇시대 :)
모든 사물, 디지털 매체와 말이 통하는 시대! 단비Ai와 함께 반드시 오게될 챗봇시대를 열어갔으면 좋겠습니다.

<br/>
{% include button_cta.html value="인공지능 챗봇빌더 단비Ai 시작하기" title="인공지능 챗봇빌더 단비Ai 홈페이지 바로가기" url="https://danbee.ai/landing.html" %}

### 혹시 서비스 소개서를 찾고 있나요?
단비Ai 서비스 소개서는 아래 링크를 클릭해 다운로드 하실 수 있습니다.
<br/>
{% include button_cta.html value="서비스 소개서 다운로드" title="서비스 소개서 다운로드" url="https://doc.danbee.ai/assets/%EB%8B%A8%EB%B9%84%EC%97%90%EC%9D%B4%EC%95%84%EC%9D%B4_%EC%84%9C%EB%B9%84%EC%8A%A4%EC%86%8C%EA%B0%9C%EC%84%9C_2021.pdf" %}


### 챗봇을 교육용도로 활용하고 싶으신가요?
단비Ai를 기반으로 만들어진 Ai교육, 에이아이런을 만나보세요 :)
<div>
    <a href="https://ailearn.co.kr" target="_blank">
        <img src="images/mkt/banner-ailearn3.png" >
    </a>
</div>


<!--
### 사람은 단비를 만들고, 단비는 챗봇을 싹틔운다.
함께할 멋진 *개발자*와 *기획자*를 찾습니다. 어쩌면 💧단비가 여러분이 찾던 직장일 지도 모르죠?

- 단비아이엔씨 채용공고 [살펴보기](https://www.rocketpunch.com/companies/danbeeinc/jobs)
 -->
<!-- 콘텐츠 페이지 맨 하단에 들어가는 영역임. 여기를 최신화 하면 전체가 파릇파릇 -->
