<div class="pricing">
<table style="width:100%; margin-left:auto; margin-right:auto;">
    <colgroup>
      <col width="20%"/>
      <col width="20%"/>
      <col width="20%"/>
      <col width="20%"/>
      <col width="20%"/>
    </colgroup>
    <thead>
        <tr>
          <th rowspan="2" style="visibility:hidden;"></th>
          <th style="background-color:#339674">무료</th>
          <th colspan="2" style="background-color:#5084d4; border-bottom:#5782c5; border-right:#5782c5; border-left:#3b5a8a">유료</th>
          <th style="background-color:#b55252; ">파트너쉽</th>
        </tr>
        <tr>
          <th>보슬비</th>
          <th style="background-color:#598ddc; border-bottom:#5782c5; border-right:1px solid #4f83d5; ">가랑비</th>
          <th style="background-color:#598ddc; border-bottom:#5782c5;" >장대비</th>
          <th style="background-color:#b96868;">함께 맞는 비</th>
        </tr>
    </thead>
  <tbody>
    <tr>
      <th><b>이용 대상</b></th>
      <td>사용량이 많지 않은 고객</td>
      <td>사용량 제한 없이 사용하고자 하는 고객</td>
      <td>월 1백만건 이상 사용하는 고객</td>
      <td>danbee.ai의 서비스를 재판매하는 파트너사</td>
    </tr>
    <tr>
      <th><b>이용 금액</b></th>
      <td>월 1만건 이하 무료 <sup><a href="#note" title="1건 = API (외부API 포함) 요청 1회 &#10;월 1만건을 초과하는 경우 이용이 제한될 수 있습니다.">(1)</a></sup></td>
      <td>1천건 당 3천원 (VAT 별도) <br>※ 월 1만건을 초과하지 않는 고객은 과금되지 않습니다.</td>
      <td>별도 문의</td>
      <td>별도 문의</td>
    </tr>
    <tr>
      <th><b>Shared Public Cloud</b></th>
      <td>O</td>
      <td>O</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th><b>Private Cloud</b></th>
      <td>X</td>
      <td>X</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th colspan="5" class="category-title">챗봇</th>
    </tr>
    <tr>
      <th style="border-top: 0;">
        <b>챗봇 생성</b>
        <sup><a href="#note" title="계정당 생성 가능 개수입니다.">(2)</a></sup></th>
      <td>5개 이하</td>
      <td>20개 이하</td>
      <td>무제한</td>
      <td>무제한</td>
    </tr>
    <tr>
      <th><b>시뮬레이션</b></th>
      <td>O</td>
      <td>O</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th><b>챗봇 복제</b><br />(추후제공)</th>
      <td>X</td>
      <td>O</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th><b>공동 작업</b><br />(협업기능)</th>
      <td>X</td>
      <td>O</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th colspan="5" class="category-title">NLU</th>
    </tr>
    <tr>
      <th style="border-top: 0;">
        <b>인텐트 등록</b>
          <sup><a href="#note" title="계정당 생성 가능 개수입니다.">(2)</a></sup></th>
      <td>100개</td>
      <td>500개 이하</td>
      <td>무제한</td>
      <td>무제한</td>
    </tr>
    <tr>
      <th><b>인텐트 예문 추천</b><br />(제공예정)</th>
      <td>X</td>
      <td>O</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th><b>인텐트 복제</b><br />(제공예정)</th>
      <td>X</td>
      <td>O</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th><b>인텐트 이력</b></th>
      <td>2일</td>
      <td>5일</td>
      <td>8일</td>
      <td>8일</td>
    </tr>
    <tr>
      <th><b>인텐트 테스트</b></th>
      <td>X</td>
      <td>X</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th><b>학습추천</b></th>
      <td>O</td>
      <td>O</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th colspan="5" class="category-title">챗플로우</th>
    </tr>
    <tr>
      <th style="border-top: 0;"><b>챗플로우 등록</b></th>
      <td>100개 이하</td>
      <td>500개 이하</td>
      <td>무제한</td>
      <td>무제한</td>
    </tr>
    <tr>
      <th><b>챗플로우 복제</b><br />(추후제공)</th>
      <td>X</td>
      <td>O</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th><b>챗플로우 이력</b></th>
      <td>2일</td>
      <td>5일</td>
      <td>8일</td>
      <td>8일</td>
    </tr>
    <tr>
      <th><b>API등록</b></th>
      <td>무제한</td>
      <td>무제한</td>
      <td>무제한</td>
      <td>무제한</td>
    </tr>
    <tr>
      <th><b>감성분석</b></th>
      <td>X</td>
      <td>X</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th><b>사용자 평가</b></th>
      <td>X</td>
      <td>O</td>
      <td>O</td>
      <td>O</td>
    </tr>
    <tr>
      <th colspan="5" class="category-title"><b>대시보드</b></th>
    </tr>
    <tr>
      <th style="border-top: 0;"><b>Transaction</b></th>
      <td>당일</td>
      <td>당일/일별</td>
      <td>당일/일별/월별</td>
      <td>당일/일별/월별</td>
    </tr>
    <tr>
      <th><b>Learning</b></th>
      <td>당일</td>
      <td>당일/일별</td>
      <td>당일/일별/월별</td>
      <td>당일/일별/월별</td>
    </tr>
    <tr>
      <th><b>Dialog</b></th>
      <td>당일</td>
      <td>당일/일별</td>
      <td>당일/일별/월별</td>
      <td>당일/일별/월별</td>
    </tr>
    <tr>
      <th colspan="5" class="category-title"><b>고객지원</b></th>
    </tr>
    <tr>
      <th style="border-top: 0;"><b>E-mail 답변</b><sup><a href="#note" title="Level 1 : 문의에 대해 1영업일 이내 답변 &#10;Level 2 : 문의에 대해 3영업일 이내 답변&#10;Level 3 : 문의에 대해 답변 의무 없음">(3)</a></sup></th>
      <td>Level 3</td>
      <td>Level 2</td>
      <td>Level 1</td>
      <td>Level 1</td>
    </tr>
    <tr>
      <th><b>SLA</b><br/>(Service Level Agreement)</th>
      <td style="border-bottom:1px solid #dee8e5">없음</td>
      <td style="border-bottom:1px solid #dee8e5">99% 이상 <sup><a href="#note" title="월 1만건을 초과하지 않는 경우 SLA가 적용되지 않습니다.">(4)</a></sup> </td>
      <td style="border-bottom:1px solid #dee8e5">99.9% 이상</td>
      <td style="border-bottom:1px solid #dee8e5">99.9% 이상</td>
    </tr>
  </tbody>
</table>
</div>
<hr />

<div id="note">
  <ul>
    <li>(1) 1건 = API (외부API 포함) 요청 1회
            월 1만건을 초과하는 경우 이용이 제한될 수 있습니다.</li>
    <li>(2) 계정당 생성 가능 개수임</li>
    <li>(3) Level 1 : 문의에 대해 1영업일 이내 답변
            Level 2 : 문의에 대해 3영업일 이내 답변
            Level 3 : 문의에 대해 답변 의무 없음</li>
    <li>(4) 월 1만건을 초과하지 않는 경우 SLA가 적용되지 않습니다.</li>
  </ul>
</div>
