<div class="pricing one-page" style="width:75vw;">
<table style="width:100%; margin-left:auto; margin-right:auto;">
  <colgroup>
    <col width="8%"/>
    <col width="15.666%"/>
    <col width="15.666%"/>
    <col width="15.666%"/>
    <col width="15.666%"/>
    <col width="15.666%"/>
    <col width="15.666%"/>
    <col width="15.666%"/>
  </colgroup>
  <thead>
    <tr>
      <th rowspan="5" style="visibility:hidden;"></th>
      <th style="background-color:#339674"><span class="plan-cate">Trial</span></th>
      <th style="background-color:#5084d4; border-bottom:#5782c5; border-right:#5782c5; border-left:#3b5a8a"><span class="plan-cate">Starter</span></th>
      <th style="background-color:#5084d4; border-bottom:#5782c5; border-right:#5782c5; border-left:#3b5a8a"><span class="plan-cate">Standard</span></th>
      <th style="background-color:#5084d4; border-bottom:#5782c5; border-right:#5782c5; border-left:#3b5a8a"><span class="plan-cate">Superior</span></th>
      <th style="background-color:#b55252; "><span class="plan-cate">Enterprise</span></th>
      <th style="background-color:#b55252; "><span class="plan-cate">Partner</span></th>
    </tr>
    <tr>
      <td colspan="5" style="visibility:hidden"></td>
    </tr>
  </thead>
  <tbody>
    <tr style="border-top: 1px solid #bbc7c2; text-align:left;">
      <th><b>이용 대상</b></th>
      <td style="text-align:left;"><span>- 챗봇 도입을 고려하는 고객 <br><br> - 챗봇을 자가 학습하려는 고객 </span></td>
      <td style="text-align:left;"><span>- DIY고객<br><br>- 개인 / 소상공인 / 소규모 기업 고객</span></td>
      <td style="text-align:left;"><span>- DIY고객<br><br>- 전산팀이 없는 중소기업</span></td>
      <td style="text-align:left;"><span>- DIY고객<br><br>- 전산팀이 있고 내부 보안이 중요한 기업</span></td>
      <td style="text-align:left;"><span>- 직접 구축이 어려운 고객<br><br>- 챗봇 운영 조직을 갖추고 있는 고객<br><br>- 단비 frogue 또는 단비 Kioscott을 고객사 또는 별도의 공간에 설치하여 사용하려는 고객</span></td>
      <td style="text-align:left;"><span>- danbee.Ai 서비스를 재판매하는 파트너사<br><span class="additional-info">자격 : 장대비 수준의 고객사 또는 챗봇을 5개 이상 서비스 하는 장대비 회원</span><br><br>- 5개를 초과한 챗봇에 대해 아래 가격정책 적용</span></td>
    </tr>
    <tr>
      <th><b>사용량 측정단위</b></th>
      <td>Chat Count</td>
      <td>Chat Count</td>
      <td>Chat Count</td>
      <td>Chat Count</td>
      <td>별도계약에 따름</td>
      <td>별도계약에 따름</td>
    </tr>
    <tr>
      <th><b>기본요금 (월)</b></th>
      <td style="font-weight:600;">4주간 1,000cc 무료<sup> <a href="#note" title="1cc = API(외부API 포함) 요청 1회 &#10;무료사용량을 초과하는 경우 이용이 제한될 수 있습니다.">*</a></sup></td>
      <td style="font-weight:600;">3,000원</td>
      <td style="font-weight:600;">30,000원</td>
      <td style="font-weight:600;">300,000원</td>
      <td style="font-weight:600;">별도계약에 따름</td>
      <td style="font-weight:600;">별도계약에 따름</td>
    </tr>
    <tr>
        <th><b>기본 사용량 (월)</b></th>
        <td>1,000cc</td>
        <td>1,000cc<br>(월 평균 200명 수준)<sup> <a href="#note" title="한 사용자가 평균 5건의 대화를 주고 받는 것으로 가정함">***</a></sup></td>
        <td>10,000cc<br>(월 평균 2,000명 수준)</td>
        <td>100,000cc<br>(월 평균 20,000명 수준)</td>
        <td>별도계약에 따름</td>
        <td>별도계약에 따름</td>
    </tr>
    <tr>
        <th><b>초과사용량 (월)</b></th>
        <td>N/A</td>
        <td>1,000cc 당 3,000원<br></td>
        <td>1,000cc 당 3,000원<br></td>
        <td>1,000cc 당 3,000원<br></td>
        <td>별도계약에 따름</td>
        <td>별도계약에 따름</td>
    </tr>
    <tr>
        <th><b>협업사용자수</b></th>
        <td>5명</td>
        <td>5명</td>
        <td>7명</td>
        <td>10명</td>
        <td>별도계약에 따름</td>
        <td>별도계약에 따름</td>
    </tr>
    <tr>
        <th><b>챗봇갯수</b></th>
        <td>5개</td>
        <td>5개</td>
        <td>10개</td>
        <td>20개</td>
        <td>별도계약에 따름</td>
        <td>별도계약에 따름</td>
    </tr>
    
    <tr>
        <th colspan="7" class="category-title">챗봇 기능</th>
    </tr>
    <tr>
        <th><b>Intent 갯수</b></th>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
    </tr>
    <tr>
        <th><b>Chatflow 갯수</b></th>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
    </tr>
    <tr>
        <th><b>Entity 갯수</b></th>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
    </tr>
    <tr>
        <th><b>Custom Api등록 갯수</b></th>
        <td>5개</td>
        <td>5개</td>
        <td>20개</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
    </tr>
    <tr>
        <th><b>예문 추천 갯수</b></th>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
    </tr>
    <tr>
        <th><b>엔티티 연관단어 추천 갯수</b></th>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
    </tr>
    <tr>
        <th><b>유의어 추천 갯수</b></th>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
        <td>무제한</td>
    </tr>
    <tr>
        <th><b>기본 제공 API</b></th>
        <td>네이버 이메일 발송 API<br>
            구글 이메일 발송 API<br>
            슬랙 API</td>
            <td>네이버 이메일 발송 API<br>
                구글 이메일 발송 API<br>
                슬랙 API</td>
        <td>starter<br>+<br>아마존 이메일 발송 API
            문자(SMS/LMS) 발송 API<sup> <a href="#note" title="별도 과금">**</a></sup><br>
            구글시트 API</td>
        <td>standard<br>+<br>Google STT/TTS API<sup> <a href="#note" title="별도 과금">**</a></sup><br>
            AWS STT/TTS API<sup> <a href="#note" title="별도 과금">**</a></sup><br>
            Naver TTS API<sup> <a href="#note" title="별도 과금">**</a></sup><br></td>
            <td>standard<br>+<br>Google STT/TTS API<sup> <a href="#note" title="별도 과금">**</a></sup><br>
                AWS STT/TTS API<sup> <a href="#note" title="별도 과금">**</a></sup><br>
                Naver TTS API<sup> <a href="#note" title="별도 과금">**</a></sup><br></td>
                <td>standard<br>+<br>Google STT/TTS API<sup> <a href="#note" title="별도 과금">**</a></sup><br>
                    AWS STT/TTS API<sup> <a href="#note" title="별도 과금">**</a></sup><br>
                    Naver TTS API<sup> <a href="#note" title="별도 과금">**</a></sup><br></td>
      
    </tr>
    
    <tr>
        <th colspan="7" class="category-title">챗봇 채널</th>
    </tr>
    <tr>
      <th><b>Private Cloud</b><sup> <a href="#note" title="별도 과금">**</a></sup></th>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
    </tr>
    <tr>
      <th><b>Platform 기능 Add-On</b><sup> <a href="#note" title="별도 과금">**</a></sup></th>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
      <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
    </tr>
    <tr>
        <th><b>단비 제공 채팅장 커스터마이즈 기능</b></th>
        <td>기본 기능만 제공</td>
        <td>기본 기능만 제공</td>
        <td>Danbee.Ai 소개문구 제거<br>
            파일업로드 기능 제거<br>
            챗봇 아이콘 이미지 변경<br>
            챗봇 로딩 이미지 변경<br>
            데모 배경이미지 변경</td>
        <td>Standard<br>+<br>음성기능 제공</td>
        <td>Superior<br>+<br>별도 구성 가능</td>
        <td>Superior<br>+<br>별도 구성 가능</td>
    </tr>
    <tr>
        <th><b>Secure 채팅창</b></th>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>해당없음</td>
        <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
        <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
        <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
    </tr>
    <tr>
        <th><b>Kioscott(키오스크)</b></th>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>해당없음</td>
        <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
        <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
        <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
    </tr>
    <tr>
        <th><b>핑퐁연계</b></th>
        <td >무료만 선택가능</td>
        <td>유/무료 선택가능</td>
        <td>유/무료 선택가능</td>
        <td>유/무료 선택가능</td>
        <td>유/무료 선택가능</td>
        <td>유/무료 선택가능</td>
    </tr>
    
    <tr>
        <th colspan="7" class="category-title">챗봇 케어 서비스</th>
    </tr>
    <tr>
        <th><b>무료 교육</b></th>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>별도계약에 따름</td>
        <td>별도계약에 따름</td>
    </tr>
    <tr>
        <th><b>챗봇진단 서비스</b><sup> <a href="#note" title="별도 과금">**</a></sup></th>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>해당없음</td>
        <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
        <td><svg enable-background="new 0 0 24 24" width="20px"  height="20px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd" fill="#5cb85c" /></svg></td>
   </tr>
    <tr>
        <th><b><a data-toggle="modal" data-target=".bd-example-modal-lg">SLA등급</a></b></th>
        <td>N/A</td>
        <td>N/A</td>
        <td>A</td>
        <td>B</td>
        <td>B이상</td>
        <td>C</td>
    </tr>
    <tr>
        <th><b>C/S</b></th>
        <td>해당없음</td>
        <td>5영업일 이내 응답</td>
        <td>3영업일 이내 응답</td>
        <td>1영업일 이내 응답</td>
        <td>1영업일 이내 응답</td>
        <td>1영업일 이내 응답</td>
    </tr>
    <tr>
        <th><b>기본료 할인</b></th>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>해당없음</td>
        <td>별도계약에 따름</td>
        <td>별도계약에 따름</td>
    </tr>

  </tbody>
</table>
</div>

<div id="note">
<br/><br/>
  <ul>
    <li>* cc = Chat Count (1회 말풍선)</li>
    <li>** 별도 과금</li>
    <li>*** 한 사용자가 평균 5건의 대화를 주고 받는 것으로 가정</li>
  </ul>
</div>



