body#LoginForm{
  background-image:url('../images/wallpaper.jpg');
  background-repeat:no-repeat;
  background-position:center; background-size:cover; padding:10px;}

.form-heading { color:#fff; font-size:38px; text-align: center;}
.panel h2{
  color: #444444;
  font-size: 36px;
  margin: 0 0 16px 0;
}
.panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 20px;
}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 15px auto 20px;
  min-width: 360px;
  padding: 30px 40px 40px 45px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #228c7e none repeat scroll 0 0;
  border-color: #19675d;
  color: #ffffff;
}
.login-form  .form-control,
.login-form  .btn.btn-primary,
.login-form  .btn.btn-secondary{
  width:100%;
}
.login-form  .btn.btn-primary,
.login-form  .btn.btn-secondary{
  position: relative;
  top: 6px;
}

.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

.form-label{
    text-align: left;
    vertical-align: middle;
}
.form-row{
    margin-bottom:10px;
}
a{
  color: #fff;
  text-decoration: underline;
}
a:hover{
    color:#fff;
    font-weight:bold;
}
